section {
  min-width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #C9C9C9;
  background: #F42951;
}

form span {
  color: black;
}


.FilterCondition {
  min-width: 400px;
  display: flex;
  padding: .5rem;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.FilterCondition h3 {
  font-weight: bolder;
  color: #eee;
}

.FilterCondition button {
  width: 60%;
  border: 1px solid #ccc;
  padding: .5rem;
  cursor: pointer;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background: #F42951;
  border: none;
  border-radius: 50%;
}

.ant-checkbox {
  background: none !important;
}

.FilterCondition button:hover {
  background: #C9C9C9;
}

.ToggleSelection {
  background: rgba(238, 240, 242, .9);
  color: white;
  position: absolute;
  padding: 1rem;
  top: 72px;
  margin-left: 30px;
  border: 1px solid #ccc;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  z-index: 2;
}

.ToggleSelection input {
  cursor: pointer;
}

.ant-checkbox-inner::after {
  left: 25% !important;
}
