.Pokemon {
  width: 45px;
  height: 45px;
  padding: .25rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: .25rem;
  border: 2px solid black;
}

.Pokemon img:hover {
  animation: hop .25s linear infinite;
}

@keyframes hop {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(-3px)
  }
}
