.Team {
  position: relative;
}

.TeamHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Team h1 {
  text-align: center;
}

.Team img {
  width: 125px;
  height: 120px;
}

.TeamDisplay {
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

.TeamPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
}

.StatToggle {
  width: 35px;
  height: 38px;
  background: #333DFF;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}

.TeamPokemon h2 {
  width: 70%;
  text-transform: uppercase;
  margin: .5rem auto;
}

.TeamIcon {
  padding: .30rem;
  border-radius: 50%;
  margin: 0 1rem;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PokemonDetails {
  width: 8rem;
  margin-top: 1rem;
  border-radius: 10px;
  padding: .5rem 0;
}

.PokemonDetails h1 {
  font-weight: bolder;
}

.StatsDisplay {
  width: 100%;
  height: auto;
  padding: 1rem;
}
