.TeamDisplay {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.Team h1 {
  text-align: center;
}

.TeamIcon {
  padding: .30rem;
  border-radius: 50%;
  margin: 0 1rem;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Team img {
  width: 125px;
  height: 120px;
}

.TeamPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.TeamPokemon h2 {
  width: 70%;
  text-transform: uppercase;
  margin: .5rem auto;
}

.PokemonDetails {
  width: 8rem;
  margin-top: 1rem;
  border-radius: 10px;
  padding: .5rem 0;
}
